 @import url(https://fonts.googleapis.com/css?family=Merriweather+Sans);

* {margin: 0; padding: 0;}

html, body {min-height: 100%;}

body {
	padding-top: 4px;
	background: #e2ece5;
	background: linear-gradient(#e2ece5, #e2ece5); 
	font-family: 'Merriweather Sans', arial, verdana;
  text-decoration-color: #171716;
}

  
  .card-header{
    background-color: #fefafa;
    margin-left: 20%;
    padding-left: 2px;
    padding-right: 15px;
     margin-right: 15px;
    padding-top: 2px;
    margin-top: 10px;
    text-align: start;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(158, 10, 10);
    height: 30ch;


    /* margin-bottom: 24px; */
    }

   .title{
      color: rgb(8, 8, 8);
      padding-top: 15px;
      padding-bottom: 10px;
        }



    .section-div
    {
      width: 100%;
      border-width: 2px;
      /* border-style: solid;
      border-color: rgb(34, 46, 204); */
      display: inline-flex;
    } 






    .section-div-left{
      width: 57%;
      height: 100%;
      margin-left: 5px;
      margin-top: 20px;
      /* border-width: 2px;
      border-style: solid;
      border-color: rgb(37, 132, 8);
       */
    }

    .section-div-right{
      width: 100%;
      height: 100%;
      /* border-width: 2px;
      border-style: solid;
      border-color: rgb(37, 132, 8); */
      margin-left: 10px;
      text-align: start;
    }

    .section-div-right .serarch-box {
      margin-right: 80px;
    }



    .v-line {
      border-left: 1px solid #171716;
    }

    table {
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;
      text-align: center;
    }    
    th, td {
      padding: 2px;
      text-align: center;
      border:1px solid black;
    }
    th:first-child {
      width: 100px;
    }
    
    th:nth-child(2),
    td:nth-child(2) {
      width: 300px;
    }
    
    th:last-child,
    td:last-child {
      width: 200px;
    }
  

    .submiterror,
    .important,
    .error
    {
      color: red;
    }

  

  .line{
      width: 97%;
      margin-top: 5px;
  }

  .buttion-1{
    cursor: pointer;
    color: #121412;
    margin-left: 40%;
    margin-top: 5px;
  }

  .buttion-1:hover {
    background-color: #4921bf;
  }



/*
  
  .left-div{
    margin-top: 10px;
  }

  .text-box
  {
      margin-top: 20px; 
      margin-left: -330px;
      display: inline;
  }


  .submit-button{
    margin-left:-380px;
    align-self: center;
    display: inline;
    }

      
  .v-line {
    border-left: 1px solid black;
    height: 30ch    ;
    margin-top: -70px;
    margin-left: 650px ;
  }

  .table-data{
    margin-top: 0px;
    margin-left:800px;
  } 

  .search-box{
    margin-left: 1050px;
    margin-top: -244px;
  }

  table, td, th {
    padding: 10px;
    height:20px;
    text-align: center;
    display: fixed;
  }


  

table{
  width: 60%;
}

  .pagination{
    margin-left: 900px;
    margin-top: 220px;
  }


  .error-msg{
    margin-left: -450px;
    margin-top: -200px;
    color: red;
  }


  .buttion-1{
    background-color: #4285F4;
    color: #e4e0e0;
    cursor: pointer;
    transition: background-color 0.3s ease;

  }

  .buttion-1:hover {
    background-color: #159410;
  } */
