@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans);

* {margin: 0; padding: 0;}

html, body {min-height: 100%;}

body {
	padding-top: 4px;
	background: #e2ece5;
	background: linear-gradient(#e2ece5, #e2ece5); 
	font-family: 'Merriweather Sans', arial, verdana;
  text-decoration-color: #171716;
}

  
  .card-header-category{
    background-color: #fefafa;
    margin-left: 20%;
    padding-left: 2px;
    padding-right: 15px;
     margin-right: 15px;
    padding-top: 2px;
    margin-top: 10px;
    text-align: start;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(158, 10, 10);
    height: 30ch;
    }

   .category-title{
      color: rgb(8, 8, 8);
      padding-top: 15px;
      padding-bottom: 10px;
        }

        
    .category-section-div    {
      width: 100%;
      border-width: 2px;
      display: inline-flex;
    } 

   .file{
        text-align: start;
        margin-top: -40px;

     }

    .excel,
    .csv
    {
      margin-left: 3px;
      text-align: start;
    }




    .category-section-div-left{
      width: 57%;
      height: 100%;
      margin-left: 5px;
      margin-top: 20px;
      /* border-width: 2px;
      border-style: solid;
      border-color: rgb(37, 132, 8);
       */
    }

    .textbox1{
      margin-left: 10px;
      margin-bottom: 10px;
    }

    .textbox2{
      margin-bottom: 10px;
    }

    .textbox3{
        margin-bottom: 10px;
        margin-left: 13px;

    }

    .category-section-div-right{
      width: 100%;
      height: 100%;
      /* border-width: 2px;
      border-style: solid;
      border-color: rgb(37, 132, 8); */
      margin-left: 10px;
      text-align: end;
    }




    .v-line {
      border-left: 1px solid #171716;
    }

    table {
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;
      text-align: center;
      margin-top: 50px;
    }    
    th, td {
      padding: 2px;
      text-align: center;
      border:1px solid black;
    }
    th:first-child {
      width: 100px;
    }
    
    th:nth-child(2),
    td:nth-child(3),
    td:nth-child(4) {
      width: 300px;
    }
    
    th:last-child,
    td:last-child {
      width: 200px;
    }
  

    .submiterror,
    .important,
    .error
    {
      color: red;
    }

  .error{
    margin-top: 50px;
  }
  

  .line{
      width: 97%;
      margin-top: 5px;
  }

  .buttion-1{
    cursor: pointer;
    background-color: #8c73d6;
    margin-left: 40%;
    margin-top: 5px;
  }

  .buttion-1:hover {
    background-color: #290596;
    color: white;
  }

  .table-data{
    margin-top: -80px;
  } 
